<div class="narrow-center-page">

  <%= render_cell(
              :page_title,
              :show,
              data:
                      {
                              name: "#{t('model.edit', model: FashionMediaInfo.model_name.human)} <small>#{t('simple_form.required.text') }</small>",
                              toolbar: {
                                      left:
                                              [
                                                      render_cell(
                                                              :button,
                                                              :show,
                                                              data:
                                                                      {
                                                                              name: fa_icon('level-up rotate-270'),
                                                                              url: fashion_media_infos_path,
                                                                              options:
                                                                                      {
                                                                                              class: 'btn',
                                                                                              rel: 'tooltip',
                                                                                              title: "#{t('labels.back_to')}#{t('model.list', :model => FashionMediaInfo.model_name.human)}",
                                                                                      }
                                                                      }
                                                      )
                                              ]
                              }
                      }
      )
  %>

  <%= simple_form_for(@media , :html => {:class => 'form-horizontal' }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">

        <%= f.input :city_id, required: false,:as=>:select,:collection=> @cities.map{|x| [x.name,x.id]}%>
        <%= f.input :web_site, required: true %>
        <%= f.input :web_site_introduction, required: true,:as=>:text,input_html: { rows: 5 } %>
        <%= f.input :content_name, required: true %>
        <%= f.input :position, required: true %>
        <%= f.input :mobile, required: false %>
        <%= f.input :email, required: false %>
        <%= f.input :qq, required: false %>
        <%= f.input :address, required: true,:as=>:text,input_html: { rows: 5 } %>
        <%= f.input :coverage, required: true %>
        <%= f.input :man, required: true %>
        <%= f.input :woman, required: true %>


        <%= f.input :notes, required: false ,:as=>:text,input_html: { rows: 5 }%>
      </div>
      <div class="form-actions">
        <%= f.button :submit, class: 'btn btn-primary' %>
      </div>
  <% end %>


</div>

