<div class="narrow-center-page">

  <%= render_cell(
              :page_title,
              :show,
              data:
                      {
                              name: "#{t('model.create', model: FashionMediaInfo.model_name.human)} <small>#{t('simple_form.required.text') }</small>",
                              toolbar: {
                                      left:
                                              [
                                                      render_cell(
                                                              :button,
                                                              :show,
                                                              data:
                                                                      {
                                                                              name: fa_icon('level-up rotate-270'),
                                                                              url: fashion_media_infos_path,
                                                                              options:
                                                                                      {
                                                                                              class: 'btn',
                                                                                              rel: 'tooltip',
                                                                                              title: "#{t('labels.back_to')}#{t('model.list', :model => FashionMediaInfo.model_name.human)}",
                                                                                      }
                                                                      }
                                                      )
                                              ]
                              }
                      }
      )
  %>

  <%= simple_form_for(@media , :html => {:class => 'form-horizontal' }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">

        <div class="control-group string required fashion_media_info_city_id"><label class="string required control-label" for="fashion_media_info_city_id"><abbr title="带*星号的为必填项">*</abbr> 城市</label><div class="controls">
          <select class="string required" id="fashion_media_info_city_id" name="fashion_media_info[city_id]">
            <% if @cities -%>
                <% @cities.each do |r| -%>
                    <option value="<%= r.id -%>"><%= r.name -%></option>
                <% end -%>
            <% end -%>
          </select></div></div>

      <%= f.input :web_site, required: true %>
      <%= f.input :web_site_introduction, required: true %>
      <%= f.input :content_name, required: true %>
      <%= f.input :position, required: true %>
      <%= f.input :mobile, required: true %>
      <%= f.input :email, required: true %>
      <%= f.input :weixin, required: true %>
      <%= f.input :address, required: true %>
      <%= f.input :coverage, required: true %>

      <div class="control-group string required fashion_media_info_sex"><label class="string required control-label" for="fashion_media_info_sex"><abbr title="带*星号的为必填项">*</abbr> 性别</label><div class="controls">
        <select class="string required" id="fashion_media_info_sex" name="fashion_media_info[sex]">
          <option value="1">男</option>
          <option value="0">女</option>
        </select></div></div>


      <%= f.input :notes, required: false ,:as=>:text,input_html: { rows: 5 }%>
        </div>
      <div class="form-actions">
        <%= f.button :submit, class: 'btn btn-primary' %>
      </div>
  <% end %>


</div>

