<%= render_cell(:page_title, :show, data:{name: "#{t('model.list', model: GrassResource.model_name.human)}",
                                          toolbar: {
                                                  right:
                                                          [
                                                                  (render_cell(:button, :show, data:
                                                                          {
                                                                                  name: fa_icon('plus-sign', text: t('model.create', :model => GrassResource.model_name.human)),
                                                                                  url: new_grass_resource_path,
                                                                                  options: {class: 'btn btn-primary'}
                                                                          })),
                                                                  render_cell(
                                                                          :button,
                                                                          :show,
                                                                          data:
                                                                                  {
                                                                                          name: fa_icon('cloud-upload', text: t('model.upload', model: GrassResource.model_name.human)),
                                                                                          url: upload_grass_resource_path,
                                                                                          options: {class: 'btn btn-success'}
                                                                                  }
                                                                  ),
                                                                  render_cell(:button, :show,
                                                                              data:
                                                                                      {
                                                                                              name: fa_icon('download-alt', text: t('model.download',:model => GrassResource.model_name.human)),
                                                                                              url: download_grass_resource_path,
                                                                                              options:
                                                                                                      {
                                                                                                              class: 'btn btn-info',
                                                                                                              method: :post
                                                                                                      }
                                                                                      }
                                                                  ),
                                                                  render_cell(:button, :show,
                                                                              data:
                                                                                      {
                                                                                              name: fa_icon('download-alt', text: '下载草根资源上传模板'),
                                                                                              url: download_grass_resource_template_path,
                                                                                              options:
                                                                                                      {
                                                                                                              class: 'btn btn-info',
                                                                                                              method: :post
                                                                                                      }
                                                                                      }
                                                                  )

                                                          ]
                                          }
})
%>


  <div>
    <table class="table picker">
      <tbody><tr class="selected">
        <td class="title">您已选择</td>
        <td>
          <ul>
            <li><a href="/grass_resources" class="label label-warning"><%=@f_type[0]+' X' if @f_type%></a></li>
            <% if @s_type%>
                <li><a href="/grass_resources?type_id=<%=params[:type_id]%>" class="label label-warning"><%=@s_type[0]+' X'%></a></li>
            <%end%>
          </ul>
        </td>
      </tr>
      <tr class="selectors">
        <td class="title">资源类别</td>
        <td>
          <ul class="nav nav-pills">
            <%GrassResource::TYPE.each do |fc|%>
                <li class="<%= params[:type_id].to_i.to_i==fc[1] ? 'active' : ''%>"><a href="/grass_resources?type_id=<%=fc[1]%>"><%=fc[0]%></a></li>
            <%end%>
          </ul>
        </td>
      </tr>
      <% if @f_type%>
          <tr class="selectors">
            <td class="title">媒体类别</td>
            <td>
              <ul class="nav nav-pills">
                <%GrassResource::MEDIA_TYPE.each do |sc|%>
                    <li class="<%= params[:media_type_id].to_i==sc[1] ? 'active' : ''%>"><a href="/grass_resources?type_id=<%=@f_type[1]%>&media_type_id=<%=sc[1]%>"><%=sc[0]%></a></li>
                <%end%>
              </ul>
            </td>
          </tr>
      <%end%>
      </tbody></table>
  </div>

<%= grid(@medias_grid, :show_filters => :when_filtered) do |g|

  g.column name: t('activerecord.attributes.grass_resource.media_type_id') do |m|
    link_to(m.type_name,"/grass_resources?type_id=#{m.type_id}&media_type_id=#{m.media_type_id}")
  end

  g.column name: t('activerecord.attributes.grass_resource.nickname') do |m|
    m.nickname
  end

  g.column name: t('activerecord.attributes.grass_resource.media_url') do |m|
    if [2,3].include?(m.media_type_id)
      link_to m.media_url,m.media_url,:target=>'_blank'
    else
      m.media_url
    end


  end
  g.column name: t('activerecord.attributes.grass_resource.fans_number') do |m|
    m.fans_number
  end
  g.column name: t('activerecord.attributes.grass_resource.category') do |m|
    m.category
  end
  g.column name: t('activerecord.attributes.grass_resource.regional') do |m|
    m.regional
  end
  g.column name: t('activerecord.attributes.grass_resource.content_location'),:class=>'td_style' do |m|
    m.content_location
  end

  g.column name: t('activerecord.attributes.traveling_photography_media_info.created_at') do |m|
    m.created_at.strftime('%Y-%m-%d')
  end

  g.column name: t('activerecord.attributes.traveling_photography_media_info.created_by') do |m|
    m.created_name
  end

  g.column name: t('activerecord.attributes.traveling_photography_media_info.updated_at') do |m|
    m.updated_at.strftime('%Y-%m-%d')
  end

  g.column name: t('activerecord.attributes.traveling_photography_media_info.updated_by') do |m|
    m.updated_name
  end



  g.column html: {class: 'btn-cell'} do |p|
    link_to(fa_icon('edit'), edit_grass_resource_path(p), :class => 'btn', :rel => 'tooltip', :title => t('buttons.edit'))
  end

  g.column html: {class: 'btn-cell'} do |p|
    link_to(fa_icon('trash'), grass_resource_path(p), :method => :delete, :confirm => t("confirms.delete"), :class => 'btn btn-danger', :rel => 'tooltip', :title => t('buttons.delete'))
  end

end -%>
<style type="text/css">
    .td_style{
        width: 500px;
    }

</style>



