<%= form_tag({},:method=>'get') do -%>
<%= render_cell(:page_title, :show, data:{name: "#{t('model.list', model: NetworkOpinionLeaderBlogger.model_name.human)}",
                                          toolbar: {
                                                  right:
                                                          [
                                                                  (render_cell(:button, :show, data:
                                                                          {
                                                                                  name: fa_icon('plus-sign', text: t('model.create', :model => NetworkOpinionLeaderBlogger.model_name.human)),
                                                                                  url: new_network_opinion_leader_blogger_path,
                                                                                  options: {class: 'btn btn-primary'}
                                                                          }) if can? :create,NetworkOpinionLeaderBlogger),
                                                                  (render_cell(
                                                                          :button,
                                                                          :show,
                                                                          data:
                                                                                  {
                                                                                          name: fa_icon('cloud-upload', text: t('model.upload', model: NetworkOpinionLeaderBlogger.model_name.human)),
                                                                                          url: upload_network_opinion_leader_blogger_path,
                                                                                          options: {class: 'btn btn-success'}
                                                                                  }
                                                                  )if can? :create,NetworkOpinionLeaderBlogger or can? :update,NetworkOpinionLeaderBlogger),
                                                                  render_cell(:button, :show,
                                                                              data:
                                                                                      {
                                                                                              name: fa_icon('download-alt', text: t('model.download',:model => NetworkOpinionLeaderBlogger.model_name.human)),
                                                                                              url: download_network_opinion_leader_blogger_path(params),
                                                                                              options:
                                                                                                      {
                                                                                                              class: 'btn btn-info',
                                                                                                              method: :post
                                                                                                      }
                                                                                      }
                                                                  )

                                                          ]
                                          }
})
%>

<div class="well">


      昵称：
      <%= text_field_tag 'nickname',params[:nickname],:style=>"width:100px"-%>
      姓名:
      <%= text_field_tag 'name',params[:name],:style=>"width:60px"-%>
  性别:
  <%= select_tag('sex',options_for_select([['全部',nil],['男','1'],['女','0']],params[:sex]),:style=>"width:60px") -%>
  媒体名称:
  <%= text_field_tag 'media_name',params[:media_name],:style=>"width:100px"-%>
      职位:
      <%= text_field_tag 'position',params[:position],:style=>"width:100px"-%>
      电话:
      <%= text_field_tag 'mobile',params[:mobile],:style=>"width:100px"-%>
      邮箱:
      <%= text_field_tag 'email',params[:email],:style=>"width:100px"-%>
  生日:
  <%= date_selector({:name=>'birthday_start',:id=>'birthday_start',:value=>params[:birthday_start]}) -%>
  到
  <%= date_selector({:name=>'birthday_end',:id=>'birthday_end',:value=>params[:birthday_end]}) -%>
      博客访问量:
      <%= text_field_tag 'blog_traffic',params[:blog_traffic],:style=>"width:50px"-%>万 到
      <%= text_field_tag 'blog_traffic1',params[:blog_traffic1],:style=>"width:50px"-%>万
      <%= submit_tag('查询') -%>

</div>
            <% end -%>
<%= grid(@medias_grid, :show_filters => :when_filtered,:class=> 'tablestyle') do |g|

  g.column name: t('activerecord.attributes.network_opinion_leader_blogger.city_id') do |m|
    m.city_name
  end
  g.column name: t('activerecord.attributes.network_opinion_leader_blogger.nickname') do |m|
    m.nickname
  end
  g.column name: t('activerecord.attributes.network_opinion_leader_blogger.name') do |m|
    m.name
  end
  g.column name: t('activerecord.attributes.network_opinion_leader_blogger.sex') do |m|
    m.sex.to_i==1 ? '男' : '女'
  end
  g.column name: t('activerecord.attributes.network_opinion_leader_blogger.media_name') do |m|
    m.media_name
  end
  g.column name: t('activerecord.attributes.network_opinion_leader_blogger.position') do |m|
    m.position
  end

  g.column name: t('activerecord.attributes.network_opinion_leader_blogger.mobile') do |m|
    m.mobile
  end
  g.column name: t('activerecord.attributes.network_opinion_leader_blogger.email') do |m|
    m.email
  end
  g.column name: t('activerecord.attributes.network_opinion_leader_blogger.id_number') do |m|
    m.id_number
  end

  g.column name: t('activerecord.attributes.network_opinion_leader_blogger.birthday') do |m|
    m.birthday.strftime('%Y-%m-%d') unless m.birthday.blank?
  end

  g.column name: t('activerecord.attributes.network_opinion_leader_blogger.working_conditions'),:class=>'td_style' do |m|
    m.working_conditions
  end

  g.column name: t('activerecord.attributes.network_opinion_leader_blogger.blog_traffic') do |m|
    m.blog_traffic.to_s+'万' unless m.blog_traffic.blank?
  end

  g.column name: t('activerecord.attributes.network_opinion_leader_blogger.blog_address') do |m|
    link_to m.blog_address,m.blog_address,:target=>'_blank'
  end
  g.column name: t('activerecord.attributes.network_opinion_leader_blogger.web_url') do |m|
  link_to m.web_url,m.web_url,:target=>'_blank'
  end

  g.column name: t('activerecord.attributes.network_opinion_leader_blogger.weixin') do |m|
    m.weixin
  end

  g.column name: t('activerecord.attributes.network_opinion_leader_blogger.active_record') do |m|
    m.active_record
  end

  g.column name: t('activerecord.attributes.network_opinion_leader_blogger.maintenance_record') do |m|
    m.maintenance_record
  end

  g.column name: t('activerecord.attributes.network_opinion_leader_blogger.blog_style') do |m|
    m.blog_style
  end

  g.column name: t('activerecord.attributes.network_opinion_leader_blogger.friendly_brand') do |m|
    m.friendly_brand
  end

  g.column name: t('activerecord.attributes.network_opinion_leader_blogger.estranged_brand') do |m|
    m.estranged_brand
  end

  g.column name: t('activerecord.attributes.network_opinion_leader_blogger.notes') do |m|
    m.notes
  end

  g.column name: t('activerecord.attributes.traveling_photography_media_info.created_at') do |m|
    m.created_at.strftime('%Y-%m-%d')
  end

  g.column name: t('activerecord.attributes.traveling_photography_media_info.created_by') do |m|
    m.created_name
  end

  g.column name: t('activerecord.attributes.traveling_photography_media_info.updated_at') do |m|
    m.updated_at.strftime('%Y-%m-%d')
  end

  g.column name: t('activerecord.attributes.traveling_photography_media_info.updated_by') do |m|
    m.updated_name
  end

  if can? :update,NetworkOpinionLeaderBlogger
    g.column html: {class: 'btn-cell'} do |p|
      link_to(fa_icon('edit'), edit_network_opinion_leader_blogger_path(p), :class => 'btn', :rel => 'tooltip', :title => t('buttons.edit'))
    end
  end

  if can? :destroy,NetworkOpinionLeaderBlogger
    g.column html: {class: 'btn-cell'} do |p|
      link_to(fa_icon('trash'), network_opinion_leader_blogger_path(p), :method => :delete, :confirm => t("confirms.delete"), :class => 'btn btn-danger', :rel => 'tooltip', :title => t('buttons.delete'))
    end
  end





end -%>
<style type="text/css">
    .tablestyle{
        width: 3000px;
    }

    #grid{
        overflow: auto;
    }
        .td_style{
         width: 350px;
        }

</style>
        <script>
            $('#grid').attr('style','height:300px');
        </script>



