<div class="narrow-center-page">

  <%= render_cell(
              :page_title,
              :show,
              data:
                      {
                              name: "#{t('model.create', model: NetworkOpinionLeaderBlogger.model_name.human)} <small>#{t('simple_form.required.text') }</small>",
                              toolbar: {
                                      left:
                                              [
                                                      render_cell(
                                                              :button,
                                                              :show,
                                                              data:
                                                                      {
                                                                              name: fa_icon('level-up rotate-270'),
                                                                              url: network_opinion_leader_bloggers_path,
                                                                              options:
                                                                                      {
                                                                                              class: 'btn',
                                                                                              rel: 'tooltip',
                                                                                              title: "#{t('labels.back_to')}#{t('model.list', :model => NetworkOpinionLeaderBlogger.model_name.human)}",
                                                                                      }
                                                                      }
                                                      )
                                              ]
                              }
                      }
      )
  %>

  <%= simple_form_for(@media , :html => {:class => 'form-horizontal' }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">


        <%= f.input :city_id, required: false,:as=>:select,:collection=> @cities.map{|x| [x.name,x.id]}%>
        <%= f.input :nickname, required: true %>
        <%= f.input :name, required: true %>
        <%= f.input :sex, required: true,:as=>:select,:collection=> [['男',1],['女',0]]%>
        <%= f.input :media_name, required: true %>
        <%= f.input :position, required: true %>
        <%= f.input :mobile, required: false %>
        <%= f.input :email, required: false %>
        <%= f.input :qq, required: false %>
        <%= f.input :id_number, required: true %>
        <%= f.input :birthday, as: :date_picker, required: true %>
        <%= f.input :working_conditions, required: false,:as=>:text,input_html: { rows: 5 } %>
        <%= f.input :blog_traffic, required: true %>
        <%= f.input :blog_address, required: true %>
        <%= f.input :active_record, required: false,:as=>:text,input_html: { rows: 5 } %>
        <%= f.input :maintenance_record, required: false,:as=>:text,input_html: { rows: 5 } %>
        <%= f.input :blog_style, required: false,:as=>:text,input_html: { rows: 5 } %>
        <%= f.input :friendly_brand, required: false,:as=>:text,input_html: { rows: 5 } %>
        <%= f.input :estranged_brand, required: false,:as=>:text,input_html: { rows: 5 } %>


        <%= f.input :notes, required: false ,:as=>:text,input_html: { rows: 5 }%>
      </div>
      <div class="form-actions">
        <%= f.button :submit, class: 'btn btn-primary' %>
      </div>
  <% end %>


</div>

