<%= render_cell(:page_title, :show, data:{name: "#{t('model.list', model: WebSiteMediaReporter.model_name.human)}",
                                          toolbar: {
                                                  right:
                                                          [
                                                                  (render_cell(:button, :show, data:
                                                                          {
                                                                                  name: fa_icon('plus-sign', text: t('model.create', :model => WebSiteMediaReporter.model_name.human)),
                                                                                  url: new_web_site_media_reporter_path,
                                                                                  options: {class: 'btn btn-primary'}
                                                                          })),
                                                                  render_cell(
                                                                          :button,
                                                                          :show,
                                                                          data:
                                                                                  {
                                                                                          name: fa_icon('cloud-upload', text: t('model.upload', model: WebSiteMediaReporter.model_name.human)),
                                                                                          url: upload_reporter_info_path,
                                                                                          options: {class: 'btn btn-success'}
                                                                                  }
                                                                  ),
                                                                  render_cell(:button, :show,
                                                                              data:
                                                                                      {
                                                                                              name: fa_icon('download-alt', text: t('model.download',:model => WebSiteMediaReporter.model_name.human)),
                                                                                              url: download_reporter_info_path,
                                                                                              options:
                                                                                                      {
                                                                                                              class: 'btn btn-info',
                                                                                                              method: :post
                                                                                                      }
                                                                                      }
                                                                  )

                                                          ]
                                          }
})
%>

<div class="well">

  <%= form_tag({},:method=>'get') do -%>
      地区:
      <%= select_tag('region_id',options_for_select([['全部',0]]+@regions,params[:region_id])) -%>
      <%= select_tag('province_id',options_for_select([['全部',0]]+@provinces,params[:province_id])) -%>
      <%= select_tag('city_id',options_for_select([['全部',0]]+@cities,params[:city_id])) -%>
      <%= submit_tag('查询') -%>
  <% end -%>
</div>

<%= grid(@reporters_grid, :show_filters => :when_filtered,:class=> 'tablestyle') do |g|

  g.column name: t('activerecord.attributes.web_site_media_reporter.region_id') do |reporter|
    reporter.region_name
  end
  g.column name: t('activerecord.attributes.web_site_media_reporter.province_id') do |reporter|
    reporter.province_name
  end
  g.column name: t('activerecord.attributes.web_site_media_reporter.city_id') do |reporter|
    reporter.city_name
  end
  g.column name: t('activerecord.attributes.web_site_media_reporter.format_id') do |reporter|
    reporter.format_id
  end

  WebSiteMediaReporter::ATTR.each do |a|
    g.column name: t('activerecord.attributes.web_site_media_reporter.'+a.to_s) do |reporter|
     if a=='married'
       (reporter[a].blank? or reporter[a] == false) ? '未婚' : '已婚'
     elsif a== 'sex'
       reporter[a].to_i ==0 ? '女' : '男'
     else
       reporter[a]
     end
    end
  end

  g.column name: t('activerecord.attributes.web_site_media_reporter.created_at') do |reporter|
    reporter.created_at.strftime('%Y-%m-%d')
  end

  g.column name: t('activerecord.attributes.web_site_media_reporter.created_by') do |reporter|
    reporter.created_name
  end

  g.column name: t('activerecord.attributes.web_site_media_reporter.updated_at') do |reporter|
    reporter.updated_at.strftime('%Y-%m-%d')
  end

  g.column name: t('activerecord.attributes.web_site_media_reporter.created_by') do |reporter|
    reporter.created_name
  end

  g.column html: {class: 'btn-cell'} do |p|
    link_to(fa_icon('edit'), edit_web_site_media_reporter_path(p), :class => 'btn', :rel => 'tooltip', :title => t('buttons.edit'))
  end

  g.column html: {class: 'btn-cell'} do |p|
    link_to(fa_icon('trash'), web_site_media_reporter_path(p), :method => :delete, :confirm => t("confirms.delete"), :class => 'btn btn-danger', :rel => 'tooltip', :title => t('buttons.delete'))
  end

end -%>
<style type="text/css">
   .tablestyle{
       width: 3000px;
   }

   #grid{
       overflow: auto;
   }

</style>

<script language='javascript'>
    $(document).ready(function(){
        $('#region_id').bind('change',function(){
            var web_site_media_reporter_region_id = $('#region_id').val();
            $.ajax({
                url: '/web_site_media_reporters/ajax_get_provinces/' + web_site_media_reporter_region_id.toString(),
                type: 'GET',
                data: {
                },
                success: function(data) {
                    if(web_site_media_reporter_region_id=='0'){
                        $('#province_id').html("<option value='0'>全部</option>");
                        $('#city_id').html("<option value='0'>全部</option>");
                    }else{
                        data = "<option value='0'>全部</option>"+data
                        $('#province_id').html(data);
                    }
                }
            });
        })

        $('#province_id').bind('change',function(){
            var web_site_media_reporter_province_id = $('#province_id').val();
            $.ajax({
                url: '/web_site_media_reporters/ajax_get_cities/' + web_site_media_reporter_province_id.toString(),
                type: 'GET',
                data: {
                },
                success: function(data) {
                    if(web_site_media_reporter_province_id=='0'){
                        $('#city_id').html("<option value='0'>全部</option>");
                    }else{
                        data = "<option value='0'>全部</option>"+data
                        $('#city_id').html(data);
                    }
                }
            });
        })
    });
</script>


