<%= form_tag({},:method=>'get',:style=>"vertical-align: middle;") do -%>
<%= render_cell(:page_title, :show, data:{name: "#{t('model.list', model: WebSiteMediaReporter.model_name.human)}",
                                          toolbar: {
                                                  right:
                                                          [
                                                                  (render_cell(:button, :show, data:
                                                                          {
                                                                                  name: fa_icon('plus-sign', text: t('model.create', :model => WebSiteMediaReporter.model_name.human)),
                                                                                  url: new_web_site_media_reporter_path,
                                                                                  options: {class: 'btn btn-primary'}
                                                                          })),
                                                                  render_cell(
                                                                          :button,
                                                                          :show,
                                                                          data:
                                                                                  {
                                                                                          name: fa_icon('cloud-upload', text: t('model.upload', model: WebSiteMediaReporter.model_name.human)),
                                                                                          url: upload_reporter_info_path,
                                                                                          options: {class: 'btn btn-success'}
                                                                                  }
                                                                  ),
                                                                  render_cell(:button, :show,
                                                                              data:
                                                                                      {
                                                                                              name: fa_icon('download-alt', text: t('model.download',:model => WebSiteMediaReporter.model_name.human)),
                                                                                              url: download_reporter_info_path(params),
                                                                                              options:
                                                                                                      {
                                                                                                              class: 'btn btn-info',
                                                                                                              method: :post
                                                                                                      }
                                                                                      }
                                                                  )

                                                          ]
                                          }
})
%>

<div class="well" style="vertical-align: middle;">
  <%= hidden_field_tag 'city_select_ids',params[:city_select_ids] -%>
  <%= hidden_field_tag 'format_select_ids',params[:format_select_ids] -%>
  <%= hidden_field_tag 'level_select_ids',params[:level_select_ids] -%>

  <table style="width:100%">
    <tr><td style="width:60px">查询条件：</td><td>
      <ul style="list-style-type:none;margin: 0;">
      <% unless @city_select_name.blank? -%>
          <li style="display: inline;padding-right: 10px;"><a href="#" onclick="$('#city_select_ids').val('');$('form').submit();" class="label label-warning" title="区域:<%= @city_select_name -%>">区域:<%=truncate_u(@city_select_name,6,'...')+'  X'%></a></li>
      <% end -%>

        <% unless @format_select_name.blank? -%>
            <li style="display: inline;padding-right: 10px;"><a href="#" onclick="$('#format_select_ids').val('');$('form').submit();" class="label label-warning" title="媒体介质:<%= @format_select_name -%>">媒体介质:<%=truncate_u(@format_select_name,6,'...')+'  X'%></a></li>
        <% end -%>

        <% unless @level_select_name.blank? -%>
            <li style="display: inline;padding-right: 10px;"><a href="#" onclick="$('#level_select_ids').val('');$('form').submit();" class="label label-warning" title="媒体级别:<%= @level_select_name -%>">媒体级别:<%=truncate_u(@level_select_name,6,'...')+'  X'%></a></li>
        <% end -%>
      </ul>
    </td></tr>
    <% if params[:city_select_ids].blank? -%>
    <tr>
      <td style="vertical-align: top;">区域：</td>
      <td style="vertical-align: top;">
        <ul class="nav nav-pills" style="margin:0;float:left" id="city_select">
          <%@cities.each do |c| -%>
              <li ><a style="padding: 0 10px;" href="#" onclick="$('#city_select_ids').val('<%= c[1] -%>');$('form').submit();"><%= c[0] -%></a></li>
          <% end -%>
        </ul>
        <span style="float:right;color:#666;border:1px solid #666;cursor: pointer" id="btn_change_select" onclick="change_select()">&nbsp;+ 多选&nbsp;</span>
        <div id="city_select_item" style="display:none">
          <ul class="nav nav-pills" style="margin:0">
          <%@cities.each do |c| -%>
                <li style="padding: 2px 10px;"><label> <%= check_box_tag 'city_id',c[1]-%><%= c[0] -%></label></li>
          <% end -%>
          </ul>
          <div style="text-align: center;">
            <%= button_to_function '确定',"change_city_select_ids()" -%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <%= button_to_function '取消',"clear_city_select_ids()" -%></div>
        </div>
      </td>
    </tr>
   <% end -%>

    <% if params[:format_select_ids].blank? -%>
        <tr>
          <td style="vertical-align: top;">媒体介质：</td>
          <td style="vertical-align: top;">
            <ul class="nav nav-pills" style="margin:0;float:left" id="format_select">
              <% (0..10).each do |i| -%>
                  <li ><a style="padding: 0 10px;" href="#" onclick="$('#format_select_ids').val('<%= @formats[i][1] -%>');$('form').submit();"><%= @formats[i][0] -%></a></li>
              <% end -%>
            </ul>
            <span style="float:right;color:#666;border:1px solid #666;cursor: pointer" id="btn_change_select_format" onclick="change_select_format()">&nbsp;+ 多选&nbsp;</span>
            <div id="format_select_item" style="display:none">
              <ul class="nav nav-pills" style="margin:0">
                <%@formats.each do |c| -%>
                    <li style="padding: 2px 10px;"><label> <%= check_box_tag 'format_id',c[1]-%><%= c[0] -%></label></li>
                <% end -%>
              </ul>
              <div style="text-align: center;">
                <%= button_to_function '确定',"change_format_select_ids()" -%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <%= button_to_function '取消',"clear_format_select_ids()" -%></div>
            </div>
          </td>
        </tr>
    <% end -%>

    <% if params[:level_select_ids].blank? -%>
        <tr>
          <td style="vertical-align: top;">媒体级别：</td>
          <td style="vertical-align: top;">
            <ul class="nav nav-pills" style="margin:0;float:left" id="level_select">
              <% (0..6).each do |i| -%>
                  <li ><a style="padding: 0 10px;" href="#" onclick="$('#level_select_ids').val('<%= @levels[i][1] -%>');$('form').submit();"><%= @levels[i][0] -%></a></li>
              <% end -%>
            </ul>
            <span style="float:right;color:#666;border:1px solid #666;cursor: pointer" id="btn_change_select_level" onclick="change_select_level()">&nbsp;+ 多选&nbsp;</span>
            <div id="level_select_item" style="display:none">
              <ul class="nav nav-pills" style="margin:0">
                <%@levels.each do |c| -%>
                    <li style="padding: 2px 10px;"><label> <%= check_box_tag 'level_id',c[1]-%><%= c[0] -%></label></li>
                <% end -%>
              </ul>
              <div style="text-align: center;">
                <%= button_to_function '确定',"change_level_select_ids()" -%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <%= button_to_function '取消',"clear_level_select_ids()" -%></div>
            </div>
          </td>
        </tr>
    <% end -%>
  </table>


          媒体名称:
      <%= text_field_tag 'media_name',params[:media_name],:style=>"width:100px"-%>
      姓名:
      <%= text_field_tag 'name',params[:name],:style=>"width:60px"-%>
      性别:
      <%= select_tag('sex',options_for_select([['全部',nil],['男','1'],['女','0']],params[:sex]),:style=>"width:60px") -%>
      部门名称:
      <%= text_field_tag 'department_name',params[:department_name],:style=>"width:100px"-%>
      生日:
      <%= date_selector({:name=>'birthday_start',:id=>'birthday_start',:value=>params[:birthday_start]}) -%>
      到
      <%= date_selector({:name=>'birthday_end',:id=>'birthday_end',:value=>params[:birthday_end]}) -%>
  分站？
  <%= check_box_tag 'is_substation','1',params[:is_substation].to_s=='1' -%>
      <%= submit_tag('查询',:style=>"margin-bottom: 10px;") -%>

</div>
<% end -%>

<%= grid(@reporters_grid, :show_filters => :when_filtered,:class=> 'tablestyle') do |g|

  g.column name: t('activerecord.attributes.web_site_media_reporter.region_id') do |reporter|

    if reporter.is_substation==1
      reporter.region_name.to_s+"(分站)"
    else
      reporter.region_name
    end
  end
  g.column name: t('activerecord.attributes.web_site_media_reporter.province_id') do |reporter|
    reporter.province_name
  end
  g.column name: t('activerecord.attributes.web_site_media_reporter.city_id') do |reporter|
    reporter.city_name
  end
  g.column name: t('activerecord.attributes.web_site_media_reporter.format_id') do |reporter|
    reporter.format_type
  end

  WebSiteMediaReporter::ATTR.each do |a|
    g.column name: t('activerecord.attributes.web_site_media_reporter.'+a.to_s) do |reporter|
     if a=='married'
       if reporter[a].blank?
          ''
       else
         reporter[a] == false ? '未婚' : '已婚'
       end
     elsif a== 'sex'
       reporter[a].to_i ==0 ? '女' : '男'
     elsif a== 'birthday'
       reporter[a].to_s.gsub('年','-').gsub('月','-').gsub('日','')
     else
       reporter[a]
     end
    end
  end

  g.column name: t('activerecord.attributes.traveling_photography_media_info.created_at') do |m|
    m.created_at.strftime('%Y-%m-%d')
  end

  g.column name: t('activerecord.attributes.traveling_photography_media_info.created_by') do |m|
    m.created_name
  end

  g.column name: t('activerecord.attributes.traveling_photography_media_info.updated_at') do |m|
    m.updated_at.strftime('%Y-%m-%d')
  end

  g.column name: t('activerecord.attributes.traveling_photography_media_info.updated_by') do |m|
    m.updated_name
  end

  g.column html: {class: 'btn-cell'} do |p|
    link_to(fa_icon('edit'), edit_web_site_media_reporter_path(p), :class => 'btn', :rel => 'tooltip', :title => t('buttons.edit'))
  end

  g.column html: {class: 'btn-cell'} do |p|
    link_to(fa_icon('trash'), web_site_media_reporter_path(p), :method => :delete, :confirm => t("confirms.delete"), :class => 'btn btn-danger', :rel => 'tooltip', :title => t('buttons.delete'))
  end

end -%>
<style type="text/css">
   .tablestyle{
       width: 4000px;
   }

   #grid{
       overflow: auto;
   }

</style>
            <script>
                $('#grid').attr('style','max-height:720px');
            </script>

<script language='javascript'>
  function change_level_select_ids(){
      data = $("input[name='level_id']:checked");
      if(data.length==0){
          alert('请选择媒体级别！');
          return;
      }
      var item=[];
      data.each(function(){
          item.push($(this).val())
      })

      $('#level_select_ids').val(item);
      $('form').submit();
  }
  function clear_level_select_ids(){
      $('#level_select').show();
      $('#btn_change_select_level').show();
      $('#level_select_item').hide();
      $("input[name='level_id']:checked").attr('checked',false);
  }
  function change_select_level(){
      $('#level_select').hide();
      $('#btn_change_select_level').hide();
      $('#level_select_item').show();
  }
    function change_format_select_ids(){
        data = $("input[name='format_id']:checked");
        if(data.length==0){
            alert('请选择媒体介质！');
            return;
        }
        var item=[];
        data.each(function(){
            item.push($(this).val())
        })

        $('#format_select_ids').val(item);
        $('form').submit();
    }
  function clear_format_select_ids(){
      $('#format_select').show();
      $('#btn_change_select_format').show();
      $('#format_select_item').hide();
      $("input[name='format_id']:checked").attr('checked',false);
  }
  function change_select_format(){
      $('#format_select').hide();
      $('#btn_change_select_format').hide();
      $('#format_select_item').show();
  }
  function clear_city_select_ids(){
      $('#city_select').show();
      $('#btn_change_select').show();
      $('#city_select_item').hide();
      $("input[name='city_id']:checked").attr('checked',false);
  }
  function change_select(){
      $('#city_select').hide();
      $('#btn_change_select').hide();
      $('#city_select_item').show();
  }
    function change_city_select_ids(){
        data = $("input[name='city_id']:checked");
        if(data.length==0){
            alert('请选择城市！');
            return;
        }
        var item=[];
        data.each(function(){
            item.push($(this).val())
        })

        $('#city_select_ids').val(item);
        $('form').submit();
    }
    $(document).ready(function(){

//        $('.nav-pills li a').bind('click',function(){
//            var item=[];
//            item.push($(this).attr('id'))
//            $('#city_select_ids').val(item);
//            $('form').submit();
//        })
        $('#region_id').bind('change',function(){
            var web_site_media_reporter_region_id = $('#region_id').val();
            $.ajax({
                url: '/web_site_media_reporters/ajax_get_provinces/' + web_site_media_reporter_region_id.toString(),
                type: 'GET',
                data: {
                },
                success: function(data) {
                    if(web_site_media_reporter_region_id=='0'){
                        $('#province_id').html("<option value='0'>全部</option>");
                        $('#city_id').html("<option value='0'>全部</option>");
                    }else{
                        data = "<option value='0'>全部</option>"+data
                        $('#province_id').html(data);
                    }
                }
            });
        })

        $('#province_id').bind('change',function(){
            var web_site_media_reporter_province_id = $('#province_id').val();
            $.ajax({
                url: '/web_site_media_reporters/ajax_get_cities/' + web_site_media_reporter_province_id.toString(),
                type: 'GET',
                data: {
                },
                success: function(data) {
                    if(web_site_media_reporter_province_id=='0'){
                        $('#city_id').html("<option value='0'>全部</option>");
                    }else{
                        data = "<option value='0'>全部</option>"+data
                        $('#city_id').html(data);
                    }
                }
            });
        })
    });
</script>


