<div class="narrow-center-page">

  <%= render_cell(
              :page_title,
              :show,
              data: {
                      name: "#{t('model.create', model: Order.model_name.human)} <small>#{t('simple_form.required.text') }</small>",
                      toolbar:
                              {
                                      left:
                                              [
                                                      render_cell(
                                                              :button,
                                                              :show,
                                                              data:
                                                                      {
                                                                              name: fa_icon('level-up rotate-270'),
                                                                              url: orders_path,
                                                                              options:
                                                                                      {
                                                                                              class: 'btn',
                                                                                              rel: 'tooltip',
                                                                                              title: "#{t('labels.back_to')}#{t('model.list', :model => Order.model_name.human)}",
                                                                                      }
                                                                      }
                                                      )
                                              ]
                              }
              }
      ) %>


  <%= simple_form_for(@order , :html => {:class => 'form-horizontal' }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name, required: false %>
        <%= f.input :business_category_id,collection:@specs,required: true%>
        <%= f.input :supplier_id,collection:@suppliers,required: true%>
        <%= f.input :project_id,collection:[[@project.name.to_s,@project.id]],required: true%>
        <%= f.input :quantity, required: true %>
        <%= f.input :notes, required: false,input_html: { rows: 5 } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, class: 'btn btn-primary' %>
      </div>
  <% end %>

</div>
    <script language='javascript'>
        $(document).ready(function(){
            $("body").find("select[id='order_project_id']").css("background-color","#EEE").each(
                    function(){
                        this.onchange = undefined;
                        $(this).bind("focus",function(){this.defaultIndex=this.selectedIndex;});
                        $(this).bind("change",function(){this.selectedIndex=this.defaultIndex;});
                    }
            );
         $('#order_business_category_id').bind('change',function(){
             var category_id = $('#order_business_category_id').val();
             $.ajax({
                 url: '/orders/ajax_get_suppliers/' + category_id,
                 type: 'GET',
                 data: {
                 },
                 success: function(data) {
                     $('#order_supplier_id').html(data);
                 }
             });
         })
        });
    </script>

