<%= form_tag({},:method=>'get') do -%>
<%= render_cell(:page_title, :show, data:{name: "#{t('model.list', model: TravelingPhotographyMediaInfo.model_name.human)}",
                                          toolbar: {
                                                  right:
                                                          [
                                                                  (render_cell(:button, :show, data:
                                                                          {
                                                                                  name: fa_icon('plus-sign', text: t('model.create', :model => TravelingPhotographyMediaInfo.model_name.human)),
                                                                                  url: new_traveling_photography_media_info_path,
                                                                                  options: {class: 'btn btn-primary'}
                                                                          }) if can? :create,TravelingPhotographyMediaInfo),
                                                                  (render_cell(
                                                                          :button,
                                                                          :show,
                                                                          data:
                                                                                  {
                                                                                          name: fa_icon('cloud-upload', text: t('model.upload', model: TravelingPhotographyMediaInfo.model_name.human)),
                                                                                          url: upload_traveling_photography_media_info_path,
                                                                                          options: {class: 'btn btn-success'}
                                                                                  }
                                                                  ) if can? :create,TravelingPhotographyMediaInfo or can? :update,TravelingPhotographyMediaInfo),
                                                                  render_cell(:button, :show,
                                                                              data:
                                                                                      {
                                                                                              name: fa_icon('download-alt', text: t('model.download',:model => TravelingPhotographyMediaInfo.model_name.human)),
                                                                                              url: download_traveling_photography_media_info_path(params),
                                                                                              options:
                                                                                                      {
                                                                                                              class: 'btn btn-info',
                                                                                                              method: :post
                                                                                                      }
                                                                                      }
                                                                  )

                                                          ]
                                          }
})
%>

<div class="well">


      网站：
      <%= text_field_tag 'web_site',params[:web_site],:style=>"width:100px"-%>
      联系人:
      <%= text_field_tag 'content_name',params[:content_name],:style=>"width:60px"-%>
      职位:
      <%= text_field_tag 'position',params[:position],:style=>"width:100px"-%>
      电话:
      <%= text_field_tag 'mobile',params[:mobile],:style=>"width:100px"-%>
      邮箱:
      <%= text_field_tag 'email',params[:email],:style=>"width:100px"-%>
      日均覆盖人数:
      <%= text_field_tag 'coverage',params[:coverage],:style=>"width:50px"-%>万人 到
      <%= text_field_tag 'coverage1',params[:coverage1],:style=>"width:50px"-%>万人
      <%= submit_tag('查询') -%>

</div>
            <% end -%>

<%= grid(@medias_grid, :show_filters => :when_filtered,:class=> 'tablestyle') do |g|

  g.column name: t('activerecord.attributes.traveling_photography_media_info.web_site') do |m|
    m.web_site
  end
  g.column name: t('activerecord.attributes.traveling_photography_media_info.web_site_introduction'),:class=>'td_style' do |m|
    m.web_site_introduction
  end
  g.column name: t('activerecord.attributes.traveling_photography_media_info.content_name') do |m|
    m.content_name
  end
  g.column name: t('activerecord.attributes.traveling_photography_media_info.position') do |m|
    m.position
  end
  g.column name: t('activerecord.attributes.traveling_photography_media_info.mobile') do |m|
    m.mobile
  end
  g.column name: t('activerecord.attributes.traveling_photography_media_info.email') do |m|
    m.email
  end

  g.column name: t('activerecord.attributes.traveling_photography_media_info.address') do |m|
    m.address
  end
  g.column name: t('activerecord.attributes.traveling_photography_media_info.coverage') do |m|
    m.coverage
  end
  g.column name: t('activerecord.attributes.traveling_photography_media_info.man') do |m|
    m.man
  end
  g.column name: t('activerecord.attributes.traveling_photography_media_info.woman') do |m|
    m.woman
  end
  g.column name: t('activerecord.attributes.traveling_photography_media_info.notes') do |m|
    m.notes
  end

  g.column name: t('activerecord.attributes.traveling_photography_media_info.updated_by') do |m|
    m.updated_name
  end

  g.column name: t('activerecord.attributes.traveling_photography_media_info.created_by') do |m|
    m.created_name
  end

  if can? :update,TravelingPhotographyMediaInfo
    g.column html: {class: 'btn-cell'} do |p|
      link_to(fa_icon('edit'), edit_traveling_photography_media_info_path(p), :class => 'btn', :rel => 'tooltip', :title => t('buttons.edit'))
    end
  end

  if can? :destroy,TravelingPhotographyMediaInfo
    g.column html: {class: 'btn-cell'} do |p|
      link_to(fa_icon('trash'), traveling_photography_media_info_path(p), :method => :delete, :confirm => t("confirms.delete"), :class => 'btn btn-danger', :rel => 'tooltip', :title => t('buttons.delete'))
    end
  end

end -%>
<style type="text/css">
    .tablestyle{
        width: 3000px;
    }

    #grid{
        overflow: auto;
    }
    .td_style{
        width: 750px;
    }

</style>
<script>
    $('#grid').attr('style','height:300px');
</script>



