<div class="narrow-center-page">

<%= render_cell(
  :page_title,
  :show,
  data: {
    name: "#{t('model.edit', model: Supplier.model_name.human)} <small>#{t('simple_form.required.text') }</small>",
    toolbar:
    {
      left:
      [
        render_cell(
          :button,
          :show,
          data:
          {
            name: fa_icon('level-up rotate-270'),
            url: suppliers_path,
            options:
            {
              class: 'btn',
              rel: 'tooltip',
              title: "#{t('labels.back_to')}#{t('model.list', :model => Supplier.model_name.human)}",
            }
          }
        )
      ]
    }
  }
) %>


<%= simple_form_for(@supplier , :html => {:class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name, required: false %>
    <%= f.input :is_personal, required: true,:as=>:select,:collection=> [['公司',1],['个人',2]]%>
    <%= f.input :contact_name, required: true %>
    <%= f.input :phone, required: false %>
    <%= f.input :qq, required: false %>
    <%= f.input :email, required: false %>
    <%= f.input :business_category_id, required: true,:as=>:select,:collection=> @specs%>
    <%= f.input :price, required: true %>
    <%= f.input :client_id, required: true,:as=>:select,:collection=> @clients%>
    <%= f.input :notes, required: false,:as=>:text,input_html: { rows: 5 } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>

</div>
    <script language='javascript'>
        $("body").find("select[id!='supplier_is_personal']").css("background-color","#EEE").each(
                function(){
                    this.onchange = undefined;
                    $(this).bind("focus",function(){this.defaultIndex=this.selectedIndex;});
                    $(this).bind("change",function(){this.selectedIndex=this.defaultIndex;});
                }
        )
    </script>

