<%= form_tag({},:method=>'get') do -%>
<%= render_cell(:page_title, :show, data:{name: "#{t('model.list', model: Moderator.model_name.human)}",
                                          toolbar: {
                                                  right:
                                                          [
                                                                  (render_cell(:button, :show, data:
                                                                          {
                                                                                  name: fa_icon('plus-sign', text: t('model.create', :model => Moderator.model_name.human)),
                                                                                  url: new_moderator_path,
                                                                                  options: {class: 'btn btn-primary'}
                                                                          })if can? :create,Moderator),
                                                                  (render_cell(
                                                                          :button,
                                                                          :show,
                                                                          data:
                                                                                  {
                                                                                          name: fa_icon('cloud-upload', text: t('model.upload', model: Moderator.model_name.human)),
                                                                                          url: upload_moderator_path,
                                                                                          options: {class: 'btn btn-success'}
                                                                                  }
                                                                  )if can? :create,Moderator or can? :update,Moderator),
                                                                  render_cell(:button, :show,
                                                                              data:
                                                                                      {
                                                                                              name: fa_icon('download-alt', text: t('model.download',:model => Moderator.model_name.human)),
                                                                                              url: download_moderator_path,
                                                                                              options:
                                                                                                      {
                                                                                                              class: 'btn btn-info',
                                                                                                              method: :post
                                                                                                      }
                                                                                      }
                                                                  )

                                                          ]
                                          }
})
%>

<div class="well">

  媒体名称：
  <%= text_field_tag 'media_name',params[:media_name],:style=>"width:100px"-%>
  品牌：
  <%= text_field_tag 'brand_name',params[:brand_name],:style=>"width:100px"-%>
  产品名称：
  <%= text_field_tag 'product_name',params[:product_name],:style=>"width:100px"-%>
  姓名:
  <%= text_field_tag 'name',params[:name],:style=>"width:60px"-%>
  昵称：
  <%= text_field_tag 'nickname',params[:nickname],:style=>"width:100px"-%>
  性别:
  <%= select_tag('sex',options_for_select([['全部',nil],['男','1'],['女','0']],params[:sex]),:style=>"width:60px") -%>
  职位:
  <%= text_field_tag 'position',params[:position],:style=>"width:100px"-%>
  年龄:
  <%= text_field_tag 'age',params[:age],:style=>"width:40px"-%> 到
  <%= text_field_tag 'age1',params[:age1],:style=>"width:40px"-%>
  电话:
  <%= text_field_tag 'mobile',params[:mobile],:style=>"width:100px"-%>
  邮箱:
  <%= text_field_tag 'email',params[:email],:style=>"width:100px"-%>
  生日:
  <%= date_selector({:name=>'birthday_start',:id=>'birthday_start',:value=>params[:birthday_start]}) -%>
  到
  <%= date_selector({:name=>'birthday_end',:id=>'birthday_end',:value=>params[:birthday_end]}) -%>

  <%= submit_tag('查询') -%>

</div>
            <% end -%>

<%= grid(@medias_grid, :show_filters => :when_filtered,:class=> 'tablestyle') do |g|

  g.column name: t('activerecord.attributes.moderator.media_name') do |m|
    m.media_name
  end
  g.column name: t('activerecord.attributes.moderator.brand_name') do |m|
    m.brand_name
  end
  g.column name: t('activerecord.attributes.moderator.product_name') do |m|
    m.product_name
  end
  g.column name: t('activerecord.attributes.moderator.name') do |m|
    m.name
  end
  g.column name: t('activerecord.attributes.moderator.nickname') do |m|
    m.nickname
  end
  g.column name: t('activerecord.attributes.moderator.sex') do |m|
    m.sex.to_i==1 ? '男' : '女'
  end
  g.column name: t('activerecord.attributes.moderator.position') do |m|
    m.position
  end
  g.column name: t('activerecord.attributes.moderator.age') do |m|
    m.age
  end

  g.column name: t('activerecord.attributes.moderator.mobile') do |m|
    m.mobile
  end
  g.column name: t('activerecord.attributes.moderator.email') do |m|
    m.email
  end

  g.column name: t('activerecord.attributes.moderator.office_address') do |m|
    m.office_address
  end
  g.column name: t('activerecord.attributes.moderator.id_number') do |m|
    m.id_number
  end

  g.column name: t('activerecord.attributes.moderator.birthday') do |m|
    m.birthday.strftime('%Y-%m-%d') unless m.birthday.blank?
  end

  g.column name: t('activerecord.attributes.moderator.working_conditions') do |m|
    m.working_conditions
  end

  g.column name: t('activerecord.attributes.moderator.active_record') do |m|
    m.active_record
  end

  g.column name: t('activerecord.attributes.moderator.maintenance_record') do |m|
    m.maintenance_record
  end

  g.column name: t('activerecord.attributes.moderator.topic_of_concern') do |m|
    m.topic_of_concern
  end

  g.column name: t('activerecord.attributes.moderator.married') do |m|
    unless m.married == nil
        m.married==true ? '已婚' : '未婚'
    end
  end

  g.column name: t('activerecord.attributes.moderator.has_children') do |m|
    m.has_children
  end

  g.column name: t('activerecord.attributes.moderator.has_car') do |m|
    m.has_car
  end

  g.column name: t('activerecord.attributes.moderator.other_about') do |m|
    m.other_about
  end

  g.column name: t('activerecord.attributes.moderator.notes') do |m|
    m.notes
  end

  g.column name: t('activerecord.attributes.traveling_photography_media_info.created_at') do |m|
    m.created_at.strftime('%Y-%m-%d')
  end

  g.column name: t('activerecord.attributes.traveling_photography_media_info.created_by') do |m|
    m.created_name
  end

  g.column name: t('activerecord.attributes.traveling_photography_media_info.updated_at') do |m|
    m.updated_at.strftime('%Y-%m-%d')
  end

  g.column name: t('activerecord.attributes.traveling_photography_media_info.updated_by') do |m|
    m.updated_name
  end

  if can? :update,Moderator
    g.column html: {class: 'btn-cell'} do |p|
      link_to(fa_icon('edit'), edit_moderator_path(p), :class => 'btn', :rel => 'tooltip', :title => t('buttons.edit'))
    end
  end

  if can? :destroy,Moderator
    g.column html: {class: 'btn-cell'} do |p|
      link_to(fa_icon('trash'), moderator_path(p), :method => :delete, :confirm => t("confirms.delete"), :class => 'btn btn-danger', :rel => 'tooltip', :title => t('buttons.delete'))
    end
  end




end -%>
<style type="text/css">
    .tablestyle{
        width: 3000px;
    }

    #grid{
        overflow: auto;
    }

</style>



